<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ỨNG DỤNG QUẢN LÝ SÁCH</title>

    <!-- CSS -->
    <th:block th:replace="~{layout :: link-css}"></th:block>
    <th:block th:replace="~{layout :: custom-css}"></th:block>
</head>

<body>

<!-- Header -->
<th:block th:replace="~{layout :: header}"></th:block>

<div class="container mt-4">
    <nav class="navbar navbar-light bg-light rounded">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">
                TRANG CHỦ ỨNG DỤNG QUẢN LÝ SÁCH – KẾT NỐI CSDL MYSQL
            </span>
        </div>
    </nav>
</div>

<!-- Footer -->
<th:block th:replace="~{layout :: footer}"></th:block>

</body>
</html>
